<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297789743367-kcr8121lqrsjc39ic5c9h5s50pisu4bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297789743367-kcr8121lqrsjc39ic5c9h5s50pisu4bd</string>
	<key>API_KEY</key>
	<string>AIzaSyBzEZm_BfafAhAVv7-EalIssdBGzxdObj0</string>
	<key>GCM_SENDER_ID</key>
	<string>297789743367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShoheiShikanai.StationApp</string>
	<key>PROJECT_ID</key>
	<string>secondstationaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>secondstationaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:297789743367:ios:a648536b8edca0d10ca5a2</string>
	<key>DATABASE_URL</key>
	<string>https://secondstationaapp.firebaseio.com</string>
</dict>
</plist>
